<!DOCTYPE html>



<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - thehaguetech_community_portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/sharedStyle.css">


</head>

<body>
    <header>
        <div class="row">
            <div class="col-6">
                <div class="logo">
                    <a asp-area="" asp-controller="Home" asp-action="index">The Hague Tech Community Platform</a>
                </div>
            </div>
            <div class="col-6">
                <div class="menu">
                    <nav>
                        <ul>
                            <!-- <li><a class="fa fa-comment" asp-area="" asp-controller="Home" asp-action="Chatt"></a></li> -->
                            <!-- <li><a class="fa fa-calendar-o fa-lg" asp-area="" asp-controller="Home" asp-action="Calendar"></a></li> -->
                            <li><a class="fa fa-user fa-2x" asp-area="" asp-controller="Home" asp-action="Profile"></a></li>
                            <li><a class="fa fa-bell fa-2x" asp-area="" asp-controller="Home" asp-action="Notification"></a></li>
                            <li><a class="fa fa-sign-out fa-2x" asp-area="" asp-controller="Home" asp-action="Profile"></a></li>
                        </ul>
                    </nav>
                    <div class="menuIcon">
                        <i class="fa fa-bars fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <body>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div> 

     </body>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 
    @RenderSection("Scripts", required: false)
</body>
</html>
