<!DOCTYPE html>



<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - thehaguetech_community_portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/sharedStyle.css">
</head>

<body>
    <div class="menu">
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="logo">
                    <a asp-area="" asp-controller="Home" asp-action="index">The Hague Tech Community Platform</a>
                </div>
            </div>
            <div class="col-6 col-md-8">            
                <nav class="topNav">
                    <ul>
                        <li><a class="fa fa-user" asp-area="" asp-controller="Home" asp-action="Profile"></a></li>
                        <li><a class="fa fa-bell" asp-area="" asp-controller="Home" asp-action="Notification"></a></li>
                        <li><a class="fa fa-sign-out" asp-area="" asp-controller="Home" asp-action="Profile"></a></li>
                    </ul>
                </nav>
                <div class="menuIcon">
                    <i class="fa fa-bars fa-3x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sideNav col-2 sm-4">
            <nav>
                <form class="search"> 
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                <h2 class="sideNavHeader">Community</h2>
                <ul class="sideNavList">
                    <li><a class="sideNavContent" asp-area="" asp-controller="Home" asp-action="Event"> Event</a></li>
                    <li><a class="sideNavContent" asp-area="" asp-controller="Home" asp-action=""> Companies</a></li>
                    <li><a class="sideNavContent" asp-area="" asp-controller="Home" asp-action=""> Members</a></li>
                    <li><a class="sideNavContent" asp-area="" asp-controller="Home" asp-action=""> THT-staff</a></li>
                </ul>
                <h2 class="sideNavHeader">Tools</h2>               
                <ul class="sideNavList">
                    <li><a class="sideNavContent" asp-area="" asp-controller="Home" asp-action="Event"> Room Booking</a></li>
                    <li><a class="sideNavContent" asp-area="" asp-controller="Home" asp-action="Calendar"> Calendar</a></li>
                </ul>
                <h2 class="sideNavHeader">More</h2>
                <ul class="sideNavList">
                    <li class="sideNavContent">Settings</li>
                    <li class="sideNavContent">Support</li>
                </ul>
            </nav>
        </div>          
        <div class="container col-10 sm-8">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div> 
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 
    @RenderSection("Scripts", required: false)
</body>
</html>
