<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Profile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container companyProfile">
		<div class="col-sm-3 companyLogo">
			<img src="https://bordersessions.org/wp-content/uploads/2019/03/the-hague-tech-final.png" alt="Company Logo" class="rounded mx-auto d-block">
		</div>
    
		<div class="col-sm-4 companyInfo">
			<h3 class="companyName">The Hague Tech</h3>
			<h5 class="companyType">Company Type</h5>
			<br>
			<h5 class="companyLocation">Location:</h5>
			<h5 class="companyRoom">Office Room:</h5>
			<br>
			<div class="button_cont" align="left"><a class="meetButton" href="#" target="_blank" ><span>MEET</span></a></div>
		</div>
    
		<div class="col-sm-4 companyLink">
			<div class="button_cont" align="right"><a class="connectButton" href="#" target="_blank" ><span>CONNECT</span></a></div>
			<h5>Website: </h5>
			<p>www.thehaguetech.com</p>
			<br>
			<h5>Socials</h5>
			<div class="row socials">
				<div class="col-xs-2"><a class="facebook" href="#" target="_blank" >F</a></div>
				<div class="col-xs-2"><a class="twitter" href="#" target="_blank" >T</a></div>
				<div class="col-xs-2"><a class="linkedin" href="#" target="_blank" >LI</a></div>
				<div class="col-xs-2"><a class="instagram" href="#" target="_blank" >I</a></div>
			</div>
		</div>
	</div>

    <div class="container underTAb">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#about">About</a></li>
            <li><a data-toggle="tab" href="#activity">Activity</a></li>
            <li><a data-toggle="tab" href="#connections">Connections</a></li>
        </ul>
        <div class="tab-content">
            <div id="about" class="tab-pane fade in active">
                <div class="aboutCompany">
                    <br>
                    <h3>About the Company</h3>
                    <p>Lorem ipsum dolor amet brooklyn commodo laborum laboris air plant in chartreuse ut nulla normcore id non hashtag kombucha ipsum. Quis poutine farm-to-table literally, woke neutra gluten-free. Gastropub green juice jianbing ramps umami dolore. Slow-carb hammock deserunt pitchfork affogato eiusmod everyday carry wolf tempor mlkshk umami swag iPhone green juice.</p> 
                </div> <br><hr><br>
                <div class="skills">
                    <h3>Skills and Expertises</h3> 
					<br>
					<div class="container-fluid">
                        <ul class="expertises">
                            <li>Lorem Ipsum</li>
							<li>Dolor Amet</li>						
                            <li>Brooklyn</li>
                            <li>Commodo</li>
                            <li>Laborum Laboris</li>
							<li>Air Plant</li>
							<li>Chartreuse</li>
                            <li>Ut Nulla Normcore</li>
							<li>Lorem Ipsum</li>
							<li>Dolor Amet</li>						
                            <li>Brooklyn</li>
                            <li>Commodo</li>
                            <li>Laborum Laboris</li>
							<li>Air Plant</li>
							<li>Chartreuse</li>
                            <li>Ut Nulla Normcore</li>
                        </ul>
                    </div>
                </div> <br><hr><br>
                <div class="teamMember">
                    <br>
                    <h3>Team</h3> <br>	
					<div class="card" style="width: 18rem;">
						<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="card-img-top" alt="Avatar">
						<div class="card-body">
							<h5>Project Manager</h5>
							<p class="card-text">Some quick example</p>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="card-img-top" alt="Avatar">
						<div class="card-body">
							<h5>Project Manager</h5>
							<p class="card-text">Some quick example</p>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="card-img-top" alt="Avatar">
						<div class="card-body">
							<h5>Project Manager</h5>
							<p class="card-text">Some quick example</p>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="card-img-top" alt="Avatar">
						<div class="card-body">
							<h5>Project Manager</h5>
							<p class="card-text">Some quick example</p>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="card-img-top" alt="Avatar">
						<div class="card-body">
							<h5>Project Manager</h5>
							<p class="card-text">Some quick example</p>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="card-img-top" alt="Avatar">
						<div class="card-body">
							<h5>Project Manager</h5>
							<p class="card-text">Some quick example</p>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="card-img-top" alt="Avatar">
						<div class="card-body">
							<h5>Project Manager</h5>
							<p class="card-text">Some quick example</p>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="card-img-top" alt="Avatar">
						<div class="card-body">
							<h5>Project Manager</h5>
							<p class="card-text">Some quick example</p>
						</div>
					</div>
                </div> 
                
                <br><hr><br>
                
                <div class="container-fluid project">
                    <h3>Project</h3>
					<br>
					<div class="container subProject">
						<div class="container-fluid projectInfo">
							<div class="col-2 a">
								<img src="https://miro.medium.com/max/3071/1*KWi9xbTBKnnOASpN_aS5ww.png" class="projectPic" alt="projectPic">
							</div>
							<div class="container-fluid b">
								<h4 class="projectName">THT Community Portal<h4>
								<h5>Project type:<h5>
								<div class="col-8" x>
									<div class="col-2 projectMan">
										<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="projectManPic" alt="Avatar">
									</div>
									<div class="col-8 y">
										<h5>Project Manager Name</h5>
										<p>Community manager: The Hague Tech</p>
									</div>
								</div>
							</div>
							
							<div class="col-xs c">
							<br>
							<br>
								<div class="button_join"><a class="joinButton" href="#" target="_blank" >JOIN</a></div>
							</div>
												
						</div>
						<br>
							
						<div class="col-xs-12 projectInfoContent">
							<p>Lorem ipsum dolor amet brooklyn commodo laborum laboris air plant in chartreuse ut nulla normcore id non hashtag kombucha ipsum. Quis poutine farm-to-table literally, woke neutra gluten-free. Gastropub green juice jianbing ramps umami dolore. Slow-carb hammock deserunt pitchfork affogato eiusmod everyday carry wolf tempor mlkshk umami swag iPhone green juice.</p>
						</div>
						<br>
						<div class="col-xs-12">
							<ul class="interest">
								<li>Lorem Ipsum</li>
								<li>Dolor Amet</li>						
								<li>Brooklyn</li>
								<li>Commodo</li>
								<li>Laborum Laboris</li>
								<li>Air Plant</li>
								<li>Chartreuse</li>
								<li>Ut Nulla Normcore</li>
								<li>Lorem Ipsum</li>
								<li>Dolor Amet</li>						
								<li>Brooklyn</li>
								<li>Commodo</li>
								<li>Laborum Laboris</li>
								<li>Air Plant</li>
								<li>Chartreuse</li>
								<li>Ut Nulla Normcore</li>
							</ul>
						</div>
					</div>
                </div>
            </div>

    <div id="activity" class="tab-pane fade">
        
		<div class="empty">
			<br>
			<h3>Activity inside the community</h3>
			<div class="container-fluid">
				<div class="row activityInside">
					<div class="col-xs-2"><h2>345</h2><h6>Community Connections</h6></div>
					<div class="col-xs-2"><h2>4</h2><h6>Events Hosted</h6></div>
					<div class="col-xs-2"><h2>16</h2><h6>Events Attended</h6></div>
					<div class="col-xs-2"><h2>168</h2><h6>Open Office Hours Organized</h6></div>
				</div>  
			</div><br><hr><br>
			
			<div class="interest">
                    <h3>Interest</h3> 
					<br>
					<div class="container-fluid">
                        <ul class="expertises">
                            <li>Lorem Ipsum</li>
							<li>Dolor Amet</li>						
                            <li>Brooklyn</li>
                            <li>Commodo</li>
                            <li>Laborum Laboris</li>
							<li>Air Plant</li>
							<li>Chartreuse</li>
                            <li>Ut Nulla Normcore</li>
							<li>Lorem Ipsum</li>
							<li>Dolor Amet</li>						
                            <li>Brooklyn</li>
                            <li>Commodo</li>
                            <li>Laborum Laboris</li>
							<li>Air Plant</li>
							<li>Chartreuse</li>
                            <li>Ut Nulla Normcore</li>
                        </ul>
                    </div>
                </div> <br><hr><br>
				
				<div class="container-fluid project">
                    <h3>Upcoming events hosted by this company</h3>
					<br>
					<div class="container subProject">
						<div class="container-fluid projectInfo">
							<div class="col-2 a">
								<img src="https://miro.medium.com/max/3071/1*KWi9xbTBKnnOASpN_aS5ww.png" class="projectPic" alt="projectPic">
							</div>
							<div class="container-fluid b">
								<h4 class="projectName">THT Community Portal<h4>
								<h5>Project type:<h5>
								<div class="col-8" x>
									<div class="col-2 projectMan">
										<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="projectManPic" alt="Avatar">
									</div>
									<div class="col-10 y">
										<h5>Project Manager Name</h5>
										<p>Community manager: The Hague Tech</p>
									</div>
								</div>
							</div>
							
							<div class="col-xs c">
							<br>
							<br>
								<div class="button_join"><a class="joinButton" href="#" target="_blank" >ATTEND</a></div>
							</div>
												
						</div>
						<br>
							
						<div class="col-xs-12 projectInfoContent">
							<p>Lorem ipsum dolor amet brooklyn commodo laborum laboris air plant in chartreuse ut nulla normcore id non hashtag kombucha ipsum. Quis poutine farm-to-table literally, woke neutra gluten-free. Gastropub green juice jianbing ramps umami dolore. Slow-carb hammock deserunt pitchfork affogato eiusmod everyday carry wolf tempor mlkshk umami swag iPhone green juice.</p>
						</div>
						<br>
						<div class="col-xs-12">
							<ul class="interest">
								<li>Lorem Ipsum</li>
								<li>Dolor Amet</li>						
								<li>Brooklyn</li>
								<li>Commodo</li>
								<li>Laborum Laboris</li>
								<li>Air Plant</li>
								<li>Chartreuse</li>
								<li>Ut Nulla Normcore</li>
								<li>Lorem Ipsum</li>
								<li>Dolor Amet</li>						
								<li>Brooklyn</li>
								<li>Commodo</li>
								<li>Laborum Laboris</li>
								<li>Air Plant</li>
								<li>Chartreuse</li>
								<li>Ut Nulla Normcore</li>
							</ul>
						</div>
					</div>
                </div>
				<br>
				
			<div class="container-fluid project">
					<div class="container subProject">
						<div class="container-fluid projectInfo">
							<div class="col-2 a">
								<img src="https://miro.medium.com/max/3071/1*KWi9xbTBKnnOASpN_aS5ww.png" class="projectPic" alt="projectPic">
							</div>
							<div class="container-fluid b">
								<h4 class="projectName">THT Community Portal<h4>
								<h5>Project type:<h5>
								<div class="col-8" x>
									<div class="col-2 projectMan">
										<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="projectManPic" alt="Avatar">
									</div>
									<div class="col-10 y">
										<h5>Project Manager Name</h5>
										<p>Community manager: The Hague Tech</p>
									</div>
								</div>
							</div>
							
							<div class="col-xs c">
							<br>
							<br>
								<div class="button_join"><a class="joinButton" href="#" target="_blank" >ATTEND</a></div>
							</div>
												
						</div>
						<br>
							
						<div class="col-xs-12 projectInfoContent">
							<p>Lorem ipsum dolor amet brooklyn commodo laborum laboris air plant in chartreuse ut nulla normcore id non hashtag kombucha ipsum. Quis poutine farm-to-table literally, woke neutra gluten-free. Gastropub green juice jianbing ramps umami dolore. Slow-carb hammock deserunt pitchfork affogato eiusmod everyday carry wolf tempor mlkshk umami swag iPhone green juice.</p>
						</div>
						<br>
						<div class="col-xs-12">
							<ul class="interest">
								<li>Lorem Ipsum</li>
								<li>Dolor Amet</li>						
								<li>Brooklyn</li>
								<li>Commodo</li>
								<li>Laborum Laboris</li>
								<li>Air Plant</li>
								<li>Chartreuse</li>
								<li>Ut Nulla Normcore</li>
								<li>Lorem Ipsum</li>
								<li>Dolor Amet</li>						
								<li>Brooklyn</li>
								<li>Commodo</li>
								<li>Laborum Laboris</li>
								<li>Air Plant</li>
								<li>Chartreuse</li>
								<li>Ut Nulla Normcore</li>
							</ul>
						</div>
					</div>
                </div>
				
        </div>
    </div>

    <div id="connections" class="tab-pane fade">
	
                <div class="teamMember">
                    <br>
                    <h3>Community Connections</h3> <br>	
					<div class="card" style="width: 18rem;">
						<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="card-img-top" alt="Avatar">
						<div class="card-body">
							<h5>Project Manager</h5>
							<p class="card-text">Some quick example</p>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="card-img-top" alt="Avatar">
						<div class="card-body">
							<h5>Project Manager</h5>
							<p class="card-text">Some quick example</p>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="card-img-top" alt="Avatar">
						<div class="card-body">
							<h5>Project Manager</h5>
							<p class="card-text">Some quick example</p>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="card-img-top" alt="Avatar">
						<div class="card-body">
							<h5>Project Manager</h5>
							<p class="card-text">Some quick example</p>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="card-img-top" alt="Avatar">
						<div class="card-body">
							<h5>Project Manager</h5>
							<p class="card-text">Some quick example</p>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="card-img-top" alt="Avatar">
						<div class="card-body">
							<h5>Project Manager</h5>
							<p class="card-text">Some quick example</p>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="card-img-top" alt="Avatar">
						<div class="card-body">
							<h5>Project Manager</h5>
							<p class="card-text">Some quick example</p>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://byuc.files.wordpress.com/2012/07/avat-2.jpg" class="card-img-top" alt="Avatar">
						<div class="card-body">
							<h5>Project Manager</h5>
							<p class="card-text">Some quick example</p>
						</div>
					</div>
                </div>
	
	</div>
    </div>
    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
             }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
   
</body>
