@{
    ViewData["Title"] = "Profile";
}
<head>
    <link rel="stylesheet" href="~/cssprofile/profileStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<p>Use this page to detail your site's privacy profile.</p>
<div class="profileContainer">
    <div class="row" >
        <div class="col-lg-4 col-sm-12" >
            <i class="fa fa-user-circle"></i>
        </div>
        <div class="col-lg-4 col-sm-6" >
            <div class="row">Company name</div>
            <div class="row">Activity score</div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="row">
                <button class="btn btn-primary" type="submit">Edit Profile Button</button>
            </div>
            <div class="row">Website Link</div>
            <div class="row">Social Links</div>
        </div>
    </div>
</div>

</body>