/* COMPANY INFORMATION */
/* section 1 */


.companyIcon{
    height: 260px;
}
.companyLogo {
    background-color: black;
    width: 80%;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;

}
.companyLogo img{
    width: 83%;
    padding: 10%;
}
/* section 2 */
.companyInfo{
    height: 260px;
}

.companyInformation{
    font-weight: 600;
    margin: 1% 0%;
}

.companyButton {
    background: #FFEC50;
    color: #0F2247;
    border: none;
    text-transform: uppercase;
    font-size: 100%;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
 }
 .companyButton:hover{
    background: #0F2247;
    color: #FFEC50;
    text-decoration: none;
 }

 /* section 3 */
.companyLink{
    height: 260px;
    padding: 2%;
}
/* SOCIALNMEDIA LINKS */
.SocialIconBox{
    height: 50px;
    width: 50px;
}

.SocialMediaIcon{
    background: #0F2247;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding:10px;
}

.SocialMediaIcon:hover{
    color: #FFEC50;
    text-decoration: none;
}
/*Navigation*/
.nav-tabs{
    overflow: hidden;
    border: none;
    background-color: #0F2247;
}

.underTab li a {
    color: #fff;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* ------------------------Page 1------------------------  */
.section{
    padding: 2%;
    border-bottom: solid 1px lightgrey;
}
/*EXPERTIES*/
.expertises{
    padding: 0;
}
.expertises li{
    color: #fff;
    background-color: #5361BC;
    margin: 1px;
    padding: 5px 20px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}
/*MEMBER CARDS*/
.card {
    text-align: center;
    margin: 0% 1% 1% 0%;
    display: inline-block;
    padding: 0.5%;
    border: 2px solid #5361BC;
}

.card img{
    width: 120px;
    height:  120px;
    border-radius: 100%; 
    border: 2px solid #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.cardText{
    padding: 2%;
    font-weight: bold;
}

.cardButton{
    border:none;
    background-color: #5361BC;
    font-size: 120%;
    color: #fff;
    padding: 2% 10%;
    margin: 2% 5%;
}
/*PROJECT*/
.projectPic{
    width: 200px;
    height: 200px;
    border: 1px solid #5361BC;
    overflow:hidden;
}
.projectText{
    padding: 1% 0%;
}

/* PAGE 2 */
.activity{
    padding: 1%;
}

.activityScore{
    background-color: #5361BC;
    color: #fff;
    margin:0 4%;
    padding: 2%;   
}

@media screen and (max-width:650){
    .companyLogo{
        display:none;
    }

}