.menu{ /*Top navigation*/
    background: linear-gradient(360deg, rgba(15,34,71,1) 45%, rgba(83,97,188,1) 100%);
    padding: 2px 18px;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #5361BC;
}
/*---------------------------HEADER----------------------------------*/
.logo{
    height:75px;
    vertical-align: middle;
    display: table-cell;
}
.logo a{ /*THT header*/
    color:rgb(223, 223, 223);
    text-decoration: none;
    font-size: 24px;
} /*TOP ICONS*/

.topNav ul{
    overflow: hidden;
    margin: 0 20px 0 0;
    text-align: right;
}
.topNav ul li {
    display: inline-block;
    padding: 20px;
}
.topNav ul li a {
    text-decoration: none;
    color:rgb(223, 223, 223);
    font-size: 200%;
}
.topNav ul:hover li:hover a:hover{
    color: #FFEC50;
}
/*MOBILE ICONS*/
.menuIcon{ 
    text-align: right;
    cursor: pointer;
    color:rgb(223, 223, 223);
    display: none;
    position: sticky;
    top: 0;
    z-index: 1;
}
.menuIcon i{
    padding: 8px;
}
.menuIcon i:hover {
    color: #FFEC50;
}
/*----------------MOBILE DROPDOWN-----------------*/
.dropdown{
    position: relative;
    display: inline-block;
}
  
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(223, 223, 223);
    min-width: 450px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0px;
    top:25px;
}  
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {
        background-color: #5361BC;
        color:rgb(223, 223, 223);
}
.show {
    display: block;
}

.dropdownHeader{
    background-color: #0F2247;
    color: rgb(223, 223, 223);
    align-content: left;
    padding-right: 5%;
}

/*-----------------------------SIDE-NAV-----------------------------------*/
.sideNavContainer{
    width:20%;
    height: 200vh; /*CHANGE THIS WHEN THE PAGE IS LONGER*/
    background-color: #0F2247;
    float:left;
    position: relative;
}

.sideNav{
    display: inline-block;
    width: 20%;
    position: fixed;
    top: 10vh;
}

.sideNavHeader {
    color:rgb(223, 223, 223);
    border-bottom: 2px solid #5361BC;
    margin: 0% 5% 0 5%;
}
.sideNavContent{
    color:rgb(223, 223, 223);
    text-decoration: none;
    font-size: 20px;
}
.sideNavList{
    padding-left: 5%;
}

.sideNavList a:hover{
    text-decoration: none;
    color: #FFEC50;
}

/*-----------SEARCH------------------------*/
.search { /*NOT WORKING*/
    overflow: hidden;
    padding-left: 5%;
    margin: 4% 0% 4% 0%;
}
.search input[type=text] {
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 3% 14% 3% 14%;
}
.search button {
    padding: 3%;
    border: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    background: #5361BC;
    color:rgb(223, 223, 223);
  }
.search button:hover {
    background: #FFEC50;
    color: #5361BC;
  }
/*-------------------------------------------------------------*/
/*MAIN*/
.containerMain{ /*Home content*/ 
    width: 80%;
    display: inline-block;
    padding: 2%;
}
/*-------------------------------MEDIA------------------------------*/
@media screen and (max-width:1650px){
    .sideNavContainer{
        width: 30%;
    }
    .sideNav{
        width:30%;
    }
    .containerMain{
        width: 70%;
    }
}

@media screen and (max-width:1100px){
    .logo{
        display: none;
    }
    .topNav ul{
        max-height: 0px;
    }
    .menuIcon{
        display: block;
    }
    .sideNavContainer{
        display: none;
    }
    .sideNav{
        display: none;
    }
    .containerMain{
        width: 100%;
    }
}

